
@font-face {
    font-family: 'MyFont';
    srcï¼šurl('./my-font.ttf') format('ttf'),
        url('./my-font2.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}


.hello {
    color: red;
    background: url('./icon.png');
    font-family: 'MyFont';
}